#latest-collection{

}

.collection-header{
    padding: 15px 0;
}

.collection-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: auto auto;

}

.item-1 .item-2{
    grid-column: 1;
}

.item{
    position: relative;
    cursor: pointer;
}

.item-3{
    grid-column: 2;
    grid-row: 1/span 2;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.item-content{
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
}

@media (max-width: 768px) {

    .collection-content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .item-3{
        grid-column: 1;
    }
}