*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  min-width: 375px;
}

html{
  scroll-behavior: smooth;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 28px;
}

h3{
  font-size: 18px;
}

h4{
  font-size: 16px;
}

p{
  font-size: 16px;
}

span{
  text-transform: capitalize;
}

section{
  margin: 50px 0;
}

button{
  border: none;
  cursor: pointer;
  background-color: pink;
  font-weight: 700px;
  color: white !important;
}

a{
  text-decoration: none;
  color: black;
}