.cart-item{
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid pink;
}



.cart-item-image{
    max-height: auto;
    max-width: 80px;
}

.cart-item-desc{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.price{
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.amount{
    border: 1px solid pink;
    display: flex;
    align-items: center;
}

.icon{
    padding: 0 8px;
}

.cart-icons{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.total-price{
    padding-left: 15px;
}